<mat-card class="daxa-card average-daily-sales-card mb-25 border-radius bg-white border-none d-block">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">
                Average Daily Sales
            </h5>
        </mat-card-title>
        <mat-card-subtitle>
            <span class="daxa-badge position-relative">
                <i class="material-symbols-outlined">
                    trending_up
                </i>
                5.25%
            </span>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="price lh-1 fw-medium">
            $5K+
        </div>
        <div id="ecommerce_average_daily_sales_chart"></div>
    </mat-card-content>
</mat-card>