<div
    [ngClass]="{'blank-page': isPublicRoute()}"
    [class.card-borderd-theme]="themeService.isCardBorder()"
    [class.card-border-radius]="themeService.isCardBorderRadius()"
    [class.rtl-enabled]="langService.isRTL()"
>

    @if (!isPublicRoute()) {
        <!-- Sidebar -->
        <app-sidebar />
    }

    <!-- Main Content -->
    <div
        class="main-content transition d-flex flex-column"
        [ngClass]="isPublicRoute() ? 'public-route' : {'active': isSidebarToggled}"
        [class.right-sidebar]="!isPublicRoute() && (themeService.isRightSidebar() || langService.isRTL())"
        [class.hide-sidebar]="!isPublicRoute() && themeService.isHideSidebar()"
    >
        @if (!isPublicRoute()) {
            <app-header />
        }
        <router-outlet />
        @if (!isPublicRoute()) {
            <div class="flex-grow-1"></div>
        }
    </div>

</div>
